body {
    margin: 0;
    overflow: hidden;
    background-color: #111;
    font-family: sans-serif;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}
